.container {
    display: flex;
    align-items: center;
}

.image {
    flex: 1;
    margin: 50px 0 50px 50px;
}

.details {
    flex: 2;
    padding: 50px;
    margin: -60px 0 0 0;
}

.details h2 {
    margin-top: 0;
}

.details p {
    margin: 5px 0;
}

.buy-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0 0 10px;
}

.details ul {
    list-style-type: square;
    line-height: 25px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.details h2 {
    margin-left: 30px;
}

.details h1 {
    color: #337ab7;
}

.details p {
    font-size: 27px;
    margin: 0 0 0 10px;
}

.btn {
    font-size: 20px;
}