.cards-container {
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 33.33%; 
  margin: 70px 0px 50px 0px;
  padding: 0px;
}

.cards-images {
  height: 100px;
  width: 100px;
  /* overflow: hidden; */
}

.cimg1 {
  width: 380px;
  height: 380px;
  margin-left: 60px;
  /* object-fit: cover; */
}
.cimg2 {
  width: 380px;
  height: 380px;
  margin-left: 30px;
  /* object-fit: cover; */
}
.cimg3 {
  width: 380px;
  height: 380px;
  margin-right: 60px;
  /* object-fit: cover; */
}
.card-details {
  /* margin: 10px 0 0 50px; */
  font-size: 30px;
}

.card-details h1 {
  margin-left: 60px;
  font-size: 30px;
}

.p1 {
  margin: -10px 0 0 60px ;
  font-size: 30px;
}
.card-details h2 {
  margin-left: 30px;
  font-size: 30px;
}

.p2 {
  margin: -10px ;
  margin-left: 30px;
  font-size: 30px;
}
.card-details h3 {
  margin: 0;
  font-size: 30px;
}

.p3 {
  margin: -10px 0 0 2px;
  font-size: 30px;
}

.card-details a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Styles for tablets and smaller screens */

  .cards {
    max-width: 50%; /* 50% width on tablets */
  }

  .cimg1,
  .cimg2,
  .cimg3 {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .card-details {
    margin: 10px 0 0 0;
    font-size: 24px;
  }

  .card-details h1,
  .card-details h2,
  .card-details h3,
  .card-details p {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  /* Styles for phones and smaller screens */

  .cards {
    max-width: 100%; /* Full width on phones */
  }

  .card-details {
    margin: 10px 0 0 0;
    font-size: 18px;
  }

  .card-details h1,
  .card-details h2,
  .card-details h3,
  .card-details p {
    font-size: 18px;
  }
}